/* \|| RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* \|| VARIABLES */
:root {
  /* \|| COLORS */
  --BG-BLUE-COLOR: hsl(203, 37%, 22%);
  --BG-GRAY-SHADOW-COLOR: rgba(95, 95, 95, 0.288);
  --BG-BLUE-SHADOW-COLOR: 203, 69%, 51%;
  --BG-BLUE-LIGHT-COLOR: 203, 37%, 85%;
  --BG-WHITE-COLOR: whitesmoke;
  --BG-YELLOW-COLOR: hsl(44, 97%, 63%);
  --LINK-COLOR: white;
  --LINK-HOVER: #fccb45;
  --BLUE_FONT_COLOR: hsl(203, 37%, 22%);
  --YELLOW_FONT_COLOR: hsl(44, 97%, 63%);
  --WHITE_FONT_COLOR: whitesmoke;
  --BLUE_FONT_HOVER: hsla(203, 37%, 22%, 0.967);
  --COMENT_COLOR: #f9f9f9;
}

/* \|| GENERAL STYLES */

/* \|| UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -10000px;
}
/* \|| HEADER */

.header {
  background-color: var(--BG-BLUE-COLOR);
  display: flex;
  top: 0;
  z-index: 1;
  align-items: center;
  padding: 20px;
}

.header__figure {
  max-height: 100px;
  height: 100px;
  width: 300px;
  margin-left: 25px;
}

.header__nav {
  flex: 1;
  text-align: right;
}

.header__ul {
  display: inline-block;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  margin-right: 30px;
}

.header__btn {
  text-decoration: none;
  color: var(--WHITE_FONT_COLOR);
  font-size: 22px;
  font-weight: 500;
  line-height: 150%;
}

.header__btn.active {
  color: var(--YELLOW_FONT_COLOR);
}

.header__yellow__btn {
  margin-left: 40px;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 10px;
  color: var(--BLUE_FONT_COLOR);
  margin-top: 0px;
  background-color: var(--BG-YELLOW-COLOR);
  text-decoration: none;
}

.header__btn:hover,
.header__btn:focus-visible {
  color: var(--LINK-HOVER);
}

.header__yellow__btn:hover,
.header__yellow__btn:focus-visible {
  background-color: var(--BLUE_FONT_COLOR);
  color: var(--YELLOW_FONT_COLOR);
  border: 2px solid var(--BG-YELLOW-COLOR);
}

/* \|| MAIN */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.main-content__left {
  width: 50%;
}

.main-content__h2 {
  color: var(--BLUE_FONT_COLOR);
  font-size: 82px;
  line-height: 110%;
  margin-bottom: 28px;
  position: relative;
}
.main-content__par {
  color: var(--BLUE_FONT_COLOR);
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 28px;
  position: relative;
}

.main-content__btn {
  border-radius: 11px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  padding: 20px 32px;
  color: var(--LINK-COLOR);
  margin-top: 0px;
  display: inline-block;
  background-color: var(--BG-BLUE-COLOR);
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.main-content__btn i {
  margin-left: 5px;
  color: var(--LINK-HOVER);
}
.main-content__btn:hover {
  background-color: var(--BG-YELLOW-COLOR);
  color: var(--BLUE_FONT_COLOR);
  border: 2px solid var(--BG-BLUE-COLOR);
}

.main-content__btn:hover i {
  color: var(--BLUE_FONT_COLOR);
}

.main-content__right {
  width: 50%;
}

.image_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content__img {
  border-radius: 50%;
  width: 100%;
  max-width: 65vh;
  height: auto;
  aspect-ratio: 1/1;
}

/* \|| MENTOR SECTIONS */

.mentors-section {
  padding: 50px;
  background-color: var(--BG-BLUE-COLOR);
}

.mentors-section__title {
  font-size: 64px;
  margin-bottom: 30px;
  color: var(--WHITE_FONT_COLOR);
}

.mentors-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.mentor-tile {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--YELLOW_FONT_COLOR);
  text-align: center;
}

.mentor-tile:hover {
  transform: translateY(-5px);
}

.mentor-img {
  width: 100%;
  height: auto;
  border-radius: 25% 10%;
}
.mentor-img-reverse {
  width: 100%;
  height: auto;
  border-radius: 10% 25%;
}

.mentor-name {
  margin-top: 10px;
  font-size: 18px;
  color: var(--BLUE_FONT_COLOR);
}

.mentor-specialization {
  margin-top: 5px;
  font-style: italic;
  color: var(--BLUE_FONT_HOVER);
}

.mentor-description {
  color: var(--BLUE_FONT_COLOR);
  margin-top: 10px;
}

.mentors-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}

.prev-btn,
.next-btn {
  width: 44px;
  height: 44px;
  background-color: var(--BG-WHITE-COLOR);
  color: var(--BLUE_FONT_COLOR);
  border: none;
  border-radius: 50%;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid var(--YELLOW_FONT_COLOR);
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--BG-YELLOW-COLOR);
}

.next-btn {
  margin-left: 10px;
}

/* \|| TESTIMONIALS SECTIONS */
.testimonials-section {
  padding: 50px;
}

.testimonials-title {
  text-align: center;
  color: var(--BLUE_FONT_COLOR);
  font-size: 48px;
  line-height: 110%;
  margin-bottom: 28px;
}

.testimonial {
  margin-bottom: 30px;
}

.testimonial-content {
  display: flex;
}

.testimonial-content.left {
  justify-content: flex-end;
  position: relative;
  margin-right: 100px;
  margin-bottom: 70px;
}

.testimonial-content.right {
  position: relative;
  margin-left: 100px;
  margin-bottom: 70px;
  justify-content: flex-start;
}

.testimonial-text {
  background-color: var(--COMENT_COLOR);
  padding: 25px 15px;
  border-radius: 20px;
  max-width: 70%;
  position: relative;
  left: 60px;
  top: 70px;
}

.testimonial-text.right {
  left: 60px;
  top: 70px;
}

.testimonial-text.left {
  left: -60px;
  top: 70px;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.testimonial-text p {
  margin: 0;
}

.testimonial-rating {
  margin-top: 10px;
}

.star {
  color: #ffd700;
}

/* \|| FOOTER */
.footer {
  background-color: var(--BG-BLUE-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.footer-par {
  color: var(--WHITE_FONT_COLOR);
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.about-section {
  padding: 50px 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

/* \|| ABOUT */

.alteernative-header {
  display: flex;
  top: 0;
  z-index: 1;
  align-items: center;
  padding: 20px;
  background-color: var(--BG-GRAY-SHADOW-COLOR);
  box-shadow: 0 4px 6px -1px rgba(95, 95, 95, 0.459);
}

.alteernative-main-content__h2 {
  color: var(--WHITE_FONT_COLOR);
  font-size: 82px;
  line-height: 110%;
  margin-bottom: 28px;
  position: relative;
}

.alteernative-main-content__par {
  color: var(--WHITE_FONT_COLOR);
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 28px;
  position: relative;
}

.background_image {
  background-image: url("img/cooperation.jpg");
  background-size: cover;
  background-position: center;
}

.alteernative-footer {
  background-color: var(--BG-GRAY-SHADOW-COLOR);
  box-shadow: 0 -4px 6px -1px rgba(95, 95, 95, 0.459);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.shadow {
  box-shadow: 0 0 10px -1px whitesmoke;
}
/* \|| COUNTING SECTION */
.counting-section {
  background-color: var(--BG-BLUE-COLOR);
  padding: 98px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.alternative-counting-section {
  padding: 98px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.counter {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 24px;
}

.counter__title {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--WHITE_FONT_COLOR);
}

.counter__value {
  font-size: 60px;
  font-weight: bold;
  color: var(--WHITE_FONT_COLOR);
}

.counter__value:after {
  content: " +";
}

.counter__left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--BG-YELLOW-COLOR);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: var(--BLUE_FONT_COLOR);
  font-size: 32px;
}

/* \|| REGISTER */

.register-header {
  background-color: white;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  height: 10vh;
}

.register-container {
  background-color: var(--BG-BLUE-COLOR);
  box-shadow: 0 0 15px 0 var(--BG-BLUE-COLOR);
  padding: 40px 30px;
  width: 80%;
  max-width: 600px;
  border-radius: 20px;
}

.register-container h2 {
  text-align: center;
  color: var(--WHITE_FONT_COLOR);
  font-weight: bold;
  font-size: 3rem;
}

.full-screen-container {
  padding-top: 5vh;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label {
  color: var(--WHITE_FONT_COLOR);
  font-weight: lighter;
}

.input-group input {
  font-size: 1.25rem;
  padding: 0.5em;
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.3);
  border: none;
  outline: none;
  border-radius: 0.25em;
  color: white;
  font-weight: lighter;
}

.input-group input:focus {
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
}

.submit-button {
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--WHITE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-SHADOW-COLOR), 0.25);
  border: 1px solid hsl(var(--BG-BLUE-SHADOW-COLOR));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: hsl(var(--BG-BLUE-SHADOW-COLOR), 0.4);
}

.href-button {
  text-decoration: none;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--WHITE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-SHADOW-COLOR), 0.25);
  border: 1px solid hsl(var(--BG-BLUE-SHADOW-COLOR));
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
}

.href-button:hover,
.href-button:focus {
  background-color: hsl(var(--BG-BLUE-SHADOW-COLOR), 0.4);
}

/* \|| SWITCH */

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

.switch_inp {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch_span {
  display: block;
  position: relative;
  width: 500px;
  height: 40px;
  overflow: hidden;
  border-radius: 0.25em;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--WHITE_FONT_COLOR);
  border: 1px solid hsl(var(--BG-BLUE-SHADOW-COLOR));
}

.switch_span:before,
.switch_span:after {
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  width: 500px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  background: hsl(var(--BG-BLUE-SHADOW-COLOR), 0.25);
}

.switch_span:before {
  content: "MENTOR";
}

.switch_span:after {
  content: "USER";
  left: -500px;
}

.switch_inp:checked ~ .switch_span:after {
  left: 0;
}

.switch_inp:checked ~ .switch_span:before {
  left: 500px;
}

/* \|| RESTGARTG PASSWQORD */

.register-par {
  padding-top: 1em;
  color: var(--WHITE_FONT_COLOR);
  font-size: 1.25em;
  margin-bottom: 1em;
  text-align: center;
}

/* \|| PROFILE PERSONAL INFO*/

.profile-picture {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.profile-content {
  padding: 50px;
  box-shadow: 0 0 15px 0 var(--BG-BLUE-COLOR);
  width: 90%;
  border-radius: 20px;
}

.profile-content-right {
  min-height: 100%;
  height: 100%;
  padding: 50px;
  width: 90%;
  box-shadow: -10px 0px 10px -14px var(--BG-BLUE-COLOR);
}

.big-profile-picture {
  border-radius: 50%;
  width: 265px;
  height: 265px;
}

.narrow {
  width: 40%;
}
.wide {
  min-height: 100%;
  height: 100%;
  width: 60%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-left {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.profile-content__h2 {
  color: var(--BLUE_FONT_COLOR);
  font-size: 3rem;
  margin-top: 28px;
  margin-bottom: 18px;
  position: relative;
}

.profile-content__link {
  color: var(--BLUE_FONT_COLOR);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 18px;
}

.profile-content__link:hover,
.profile-content__link:focus-visible {
  text-decoration: underline;
}

.profile-content__p {
  color: var(--BLUE_FONT_COLOR);
  font-size: 1.5rem;
  margin-bottom: 18px;
  position: relative;
}

.profile-input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.profile-input-group label {
  color: var(--BLUE_FONT_COLOR);
  font-weight: lighter;
}

.profile-input-group input,
.profile-input-group select {
  height: 100%;
  font-size: 1.25rem;
  padding: 0.5em;
  border-color: var(--BG-BLUE-COLOR);
  outline: none;
  border-radius: 0.25em;
  color: black;
  font-weight: lighter;
}

.profile-input-group input:focus,
.profile-input-group select:focus {
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
}

.profile-content__button {
  margin: 7px 5%;
  width: 25%;
  padding: 0px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--BLUE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.3);
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-content__button:hover,
.profile-content__button:focus-visible {
  text-decoration: underline;
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.7);
  border: 2px solid var(--BG-BLUE-COLOR);
}

.edit-form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-gap: 20px;
}

.first-item {
  grid-area: 1/1/2/2;
}

.second-item {
  grid-area: 1/2/2/3;
}

.third-item {
  grid-area: 2/1/3/3;
}

.fourth-item {
  grid-area: 3/1/4/2;
}

.fifth-item {
  grid-area: 3/2/4/3;
}

.sixth-item {
  grid-area: 4/1/5/3;
  justify-self: end;
}

.active-panel {
  text-decoration: underline;
}

/* \|| PROFILE PROFILE PICTURE*/

.edit-pic-form {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 75px;
  grid-gap: 20px;
}

.first-pic-item {
  grid-area: 1/1/2/3;
}

.second-pic-item {
  grid-area: 2/1/3/2;
}

.third-pic-item {
  grid-area: 2/2/3/3;
}

.edit-pic-form__img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

.edit-pic-form__input {
  display: none;
}

.edit-pic-form__label {
  display: inline-block;
  text-align: center;
  place-items: center;
  margin: 7px 5%;
  height: 61px;
  line-height: 61px;
  width: 350px;
  padding: 0px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--BLUE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.3);
  border-radius: 0.5em;
  border-width: 2px;
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px outset rgb(0, 0, 0);
}

.edit-pic-form__button {
  margin: 7px 5%;
  width: 275px;
  padding: 0px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--BLUE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.3);
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-pic-form__button:hover,
.edit-pic-form__button:focus-visible,
.edit-pic-form__label:hover,
.edit-pic-form__label:focus-visible {
  text-decoration: underline;
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.7);
  border: 2px solid var(--BG-BLUE-COLOR);
}

/* \||PROFILE CHANGE PASSWORDS*/

.password-form {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 4rem 6rem;
  grid-gap: 20px;
}

.first-pass-item {
  grid-area: 1/1/2/2;
}

.second-pass-item {
  grid-area: 2/1/3/2;
}

.third-pass-item {
  grid-area: 3/1/4/2;
  justify-self: start;
}

.profile-pass__button {
  margin: 20px 0px;
  width: 100%;
  padding: 0px;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--BLUE_FONT_COLOR);
  background-color: hsl(var(--BG-BLUE-LIGHT-COLOR), 0.3);
  border-radius: 0.5em;
  box-shadow: 0 0 0 1px hsl(var(--BG-BLUE-SHADOW-COLOR));
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-pass__button:hover,
.profile-pass__button:focus-visible {
  text-decoration: underline;
  background-color: hsla(var(--BG-BLUE-LIGHT-COLOR), 0.7);
  border: 2px solid var(--BG-BLUE-COLOR);
}

/* \|| MEETINGS*/

.dashboard-container {
  margin: 5vh 5vw 5vh 5vw;
  display: flex;
  max-width: 100%;
  min-height: 75vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  width: 30%;
  background-color: hsla(var(--BG-BLUE-LIGHT-COLOR), 0.4);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  color: var(--BLUE_FONT_COLOR);
  font-weight: bold;
  width: 100%;
  /* margin-bottom: 20px; */
  overflow: hidden;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.filters {
  color: var(--BLUE_FONT_COLOR);
  min-width: 100%;
  background-color: rgb(240, 248, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.filters label,
.filters select {
  display: block;
  margin-bottom: 10px;
}

.filters input {
  margin-right: 10px;
}
.filters-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--BLUE_FONT_COLOR);
  text-align: center;
}

.meetings {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.meetings h2 {
  margin: 0px 20px 20px 20px;
}

.meeting-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.meeting-item:last-child {
  border-bottom: none;
}

.meeting {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.meeting-describe {
  width: 100%;
  height: 100%;
}

.meeting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.meeting-title {
  font-size: 1.5rem;
  color: #333;
}

.meeting-date {
  font-size: 1rem;
  color: #888;
}

.meeting-body {
  margin-bottom: 10px;
}

.meeting-info {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.meeting-footer {
  display: flex;
  justify-content: flex-end;
}

.details-button,
.cancel-button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details-button {
  background-color: hsl(var(--BG-BLUE-SHADOW-COLOR));
  color: #fff;
}

.details-button:hover,
.details-button:focus-visible {
  background-color: hsla(var(--BG-BLUE-SHADOW-COLOR), 0.7);
}

.cancel-button {
  background-color: hsl(354, 70%, 54%);
  color: #fff;
}

.cancel-button:hover,
.cancel-button:focus-visible {
  background-color: hsla(354, 70%, 54%, 0.7);
}

#calendar {
  width: auto;
  height: auto;
  border-radius: 15px;
}
.fc-theme-standard {
  background-color: #f0f8ff;
}
.fc-theme-standard {
  border-radius: 15px; /* Ensuring FullCalendar theme matches */
}
.fc-toolbar {
  border-bottom: 1px solid #ddd; /* Border for toolbar separation */
  border-radius: 15px 15px 0 0; /* Rounded corners for toolbar */
  background-color: #f0f8ff; /* Toolbar background color */
}
.fc-daygrid-day {
  border-right: 1px solid #ddd; /* Border between days */
  border-bottom: 1px solid #ddd; /* Border between weeks */
}
.fc-daygrid-day.fc-day-today {
  background-color: #e6f7ff; /* Highlight today */
}
.fc-daygrid-day:hover {
  background-color: #f0f8ff; /* Hover effect */
}
.fc-scrollgrid {
  border-radius: 15px; /* Rounded corners for the scroll grid */
}

.filter-label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1rem;
  color: var(--BLUE_FONT_COLOR);
  cursor: pointer;
}

.filter-checkbox {
  margin-right: 10px;
  accent-color: var(--BLUE_FONT_HOVER);
}

.filter-select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-select:focus {
  border-color: var(--BLUE_FONT_COLOR);
  outline: none;
}
